<nav id="nav">
    <ul class="links">
        {{#foreach navigation}}
        <li class="nav-{{slug}} {{#if current}}active{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <ul class="icons">
        {{#if @custom.twitter}}
        <li><a href="{{@custom.twitter}}" class="icon fa-brands fa-twitter" title="Twitter"><span class="label">Twitter</span></a></li>
        {{/if}}

        {{#if @custom.mastodon}}
        <li><a href="{{@custom.mastodon}}" class="icon fa-brands fa-mastodon" title="Mastodon"><span class="label">Mastodon</span></a></li>
        {{/if}}

        {{#if @custom.instagram}}
        <li><a href="{{@custom.instagram}}" class="icon fa-brands fa-instagram" title="Instagram"><span class="label">Instagram</span></a></li>
        {{/if}}

        {{#if @custom.tiktok}}
        <li><a href="{{@custom.tiktok}}" class="icon fa-brands fa-tiktok" title="TikTok"><span class="label">TikTok</span></a></li>
        {{/if}}

        {{#if @custom.youtube}}
        <li><a href="{{@custom.youtube}}" class="icon fa-brands fa-youtube" title="YouTube"><span class="label">YouTube</span></a></li>
        {{/if}}

        {{#if @custom.facebook}}
        <li><a href="{{@custom.facebook}}" class="icon fa-brands fa-facebook" title="Facebook"><span class="label">Facebook</span></a></li>
        {{/if}}

        <li><a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" class="icon fa-solid fa-rss" target="_blank" rel="noopener"><span class="label" title="RSS">RSS</span></a></li>
    </ul>
</nav>
