<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Basic meta - advanced meta is output with {{ghost_head}} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- load critical css --}}
    {{> "components/inline-css"}}

    {{!-- Preload main styles and scripts for better performance --}}
    <link rel="preload" as="script" href="{{asset "built/source.js"}}">

    {{!-- Preload @site.logo (deactivated as long preload doesen't support <picture> sources in different formats --}}
    {{#if @site.logo}}
    {{!-- <link rel="preload" as="image" href="{{img_url @site.logo size="s"}}" imagesrcset="{{img_url @site.logo size="xs"}} 1x, {{img_url @site.logo size="s"}} 2x"> --}}
    {{/if}}

    {{!-- defer loading of uncritical css --}}
    <link rel="preload" as="style" href="{{asset "built/screen.css"}}" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}">
    </noscript>

    {{!-- print css --}}
    <link rel="stylesheet" type="text/css" media="print" href="{{asset "built/print.css"}}">

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings, it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

    {{> "components/inline-js"}}

</head>
<body class="{{body_class}} has-sans-title has-sans-body has-dark-text">

<div class="gh-viewport">
    
    {{> "components/navigation" navigationLayout=@custom.navigation_layout}}

    {{{body}}}
    
    {{> "components/footer"}}
    
</div>

{{#is "post, page"}}
    {{> "lightbox"}}
{{/is}}

{{!-- Scripts - handle responsive videos, infinite scroll, and navigation dropdowns --}}
<script src="{{asset "built/source.js"}}"></script>

{{!-- generate custom logo --}}
{{^if @site.logo}}
    {{!-- Include JS for the logo generator --}}
    <script src="{{asset "built/dielinke-logo-generator.js"}}"></script>
    <script>
        let websiteTitle = "{{@site.title}}";
        let color = new Object();
        color.background = "#6F003C";
        color.text = "#FFFFFF";
        color.logoText = "#FFFFFF";

        // call generateLogo with await
        generateLogo(websiteTitle, color);
    </script>
{{/if}}

{{!-- Ghost outputs required functional scripts with this tag, it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
