{{!< default}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the page --}}

<main id="main">
    <section class="post">

        <header class="major">
            <h1>{{title}}</h1>
        </header>

        {{#if feature_image}}
        <figure class="image main">
            <img src="{{img_url feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
            {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
        {{/if}}

        <div class="content">
            {{content}}
        </div>

    </section>
</main>

{{!-- code below: replace background image with featured page image, if available and activated in settings. --}}
{{#if @custom.show_feature_image_in_background}}
    {{#if feature_image}}
        <script>
        let css = '#wrapper>.bg {background-image: url({{asset "images/overlay.png"}}),linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url("{{img_url feature_image}}") !important; }';
        addCss(css);
        </script>
    {{/if}}
{{/if}}

{{/post}}