{{!< default}}

{{#post}}

{{!-- check page language --}}
{{#has tag="hash-en"}}
    {{#contentFor "language"}}en{{/contentFor}}
{{else}}
    {{#contentFor "language"}}{{@site.locale}}{{/contentFor}}
{{/has}}

{{!-- Everything inside the #post tags pulls data from the page --}}

<main id="main">
    <section class="post">
        {{#if feature_image}}
            <header class="major feature-image" title="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('{{img_url feature_image}}')">
                <h1>{{title}}</h1>
                {{#if feature_image_caption}}
                <p>{{feature_image_caption}}</p>
                {{/if}}
            </header>
        {{else}}
            <header class="major">
                <h1>{{title}}</h1>
            </header>
        {{/if}}

        <div class="content">
            {{content}}
        </div>

    </section>
</main>

{{/post}}