{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Main --}}
<main id="main">

    {{!-- Posts --}}
    <section class="posts">

        {{#foreach posts}}
        <article>
            <header>
                <span class="date">{{date format="D. MMMM YYYY"}}</span>
                <h2><a href="{{url}}">{{title}}</a></h2>
            </header>
            <p>{{excerpt words="80"}}</p>
            <ul class="actions special">
                <li><a href="{{url}}" class="button">{{t "See more"}}</a></li>
            </ul>
        </article>
        {{else}}
        <h2 class="noposts">{{t "No press releases found."}}</h2>
        {{/foreach}}

    </section>

    {{!-- Pagination --}}
    {{pagination}}

</main>