<header id="gh-navigation" class="gh-navigation is-{{#match navigationLayout "Logo on the left"}}left-logo{{else}}middle-logo{{/match}}{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-navigation-inner gh-inner">

        <div class="gh-navigation-brand">
            <a class="gh-navigation-logo is-title" href="{{@site.url}}">
                {{#if @site.logo}}
                    <picture>
                        <source 
                            srcset="{{img_url @site.logo size="xs" format="avif"}} 1x,
                                    {{img_url @site.logo size="s" format="avif"}} 2x"
                            type="image/avif"
                        >
                        <!-- Serve the WebP format if the browser supports it -->
                        <source 
                            srcset="{{img_url @site.logo size="xs" format="webp"}} 1x,
                                    {{img_url @site.logo size="s" format="webp"}} 2x"
                            type="image/webp"
                        >
                        <!-- Serve original file format as a fallback -->
                        <img
                            srcset="{{img_url @site.logo size="xs"}} 1x,
                                    {{img_url @site.logo size="s"}} 2x"
                            src="{{img_url @site.logo size="s"}}"
                            alt="{{@site.title}}"
                        >
                    </picture>
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            {{> "search-toggle"}}
            <button class="gh-burger gh-icon-button" title="{{t "Menu"}}">
                {{> "icons/burger"}}
                {{> "icons/close"}}
            </button>
        </div>

        <nav class="gh-navigation-menu">
            {{navigation}}
        </nav>

        <div class="gh-navigation-actions">
            {{#unless @site.members_enabled}}
                {{> "search-toggle"}}
            {{else}}
                {{> "search-toggle"}}
                <div class="gh-navigation-members">
                    {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            <a class="gh-button" href="#/portal/signup" data-portal="signup">{{t "Subscribe"}}</a>
                        {{else}}
                            <a class="gh-button" href="#/portal/signin" data-portal="signin">{{t "Sign in"}}</a>
                        {{/unless}}
                    {{else}}
                        <a class="gh-button" href="#/portal/account" data-portal="account">{{t "Manage Subscriptions"}}</a>
                    {{/unless}}
                </div>
            {{/unless}}
        </div>

    </div>
</header>
